doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Products List
  // Bootstrap CSS
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css')
  // Custom CSS
  style.
    .abort-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    }
    body {
    padding: 0px;
    width: 100%;
    }
button.abort-button(onclick="window.location.href = 'ufDash';") Abort
.container
    h1 Products

if products && products.length > 0
  table
    thead
      tr
        th Product Name
        th Ward
        th Date
        th Expiry
        th Price
        th Quantity
        th Payment
        th Directions
        th Delivery
        th Type
    tbody
      each product in products
        tr
          td= product.pname
          td= product.ward
          td= product.date
          td= product.expiry
          td= product.price
          td= product.quantity
          td= product.payment
          td= product.directions
          td= product.delivery
          td= product.type
else
  p No products found


// Bootstrap JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js')
